@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Catamaran", sans-serif;
}

* {
  @apply text-zinc-800;
}

.dotted-bg {
  /* border: 2px red solid; */
  /* background-image: radial-gradient(#a39e91 1px, transparent 1px);
  background-size: 20px 20px; */
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), white 300px),
    radial-gradient(#9ca69e 1px, transparent 1px) 10px 10px/20px 20px;
  animation: move-dotted-bg 60s infinite ease-out;
  position: relative;
}

@keyframes move-dotted-bg {
  to {
    background-position: 0 150%;
  }
}
